.my-content{width: 100vw;min-height: 100vh;background-color: #FFF;}
[v-cloak] {display: none;}
#my-scroll{width: 100vw;overflow: hidden;}
#my-view1{width: 90vw;margin: 2vh 5vw;font-size: 4.5vw;font-weight: 600;}
#my-view2{width: 100vw;padding: 0 5vw 2vh; font-size: 4vw;display: flex;align-items:center; justify-content:space-between;}
#my-view2 img{
    display: inline-block;
    vertical-align: middle;
    width: 6vw;
    height: 6vw;
    border-radius: 3vw;
}
#my-view2 span{margin-left: 3vw;}
#my-view3{
    width: 100vw;
    padding: 0 5vw;
    color: #555555 !important;
}
#my-view3 p{
    color: #555555 !important;
}
#my-view4{width: 100vw;padding: 2vh 5vw;font-size: 4vw;color: #A8A8A8;display: flex;justify-content:space-between;}
#my-view4 img{
    width: 1rem;
    height: 1rem;
}

#my-view5{width: 90vw;height: 12vh;background-color: #FFF;margin: 0 5vw 2vh;display:flex;align-items:center;box-shadow: 1vw 1vw 3vw #efefef,1vw -1vw 3vw #efefef,-1vw 1vw 3vw #efefef,-1vw -1vw 3vw #efefef;}
#my-view5 img{width: 12vw;height: 12vw;border-radius: 6vw;}
.f-img{width: 12vw;height: 12vw;margin-left:3vw;}
.f-name{width: 20vw;margin-left: 2vw;}
.f-name-1{font-size: 4.5vw;font-weight: 600;line-height: 4vh;}
.f-name-2{font-size: 3.3vw;color: #999;line-height: 4vh;}
.f-btn1{width: 20vw;line-height:6vh;border-radius:1vw;margin-left: 2vw;background: linear-gradient(45deg,#eb3d00,#eb6100);color: #FFF;text-align: center;font-size: 3.5vw;}
.f-btn2{width: 20vw;line-height:6vh;border-radius:1vw;margin-left: 2vw;background: linear-gradient(45deg,#ec0c0e,#eb3d00);color: #FFF;text-align: center;font-size: 3.5vw;}
#my-view6{
    width: 100vw;
    padding: 0 5vw 10vh;
}
.my-h2{width: 90vw;height: 9vh;padding: 1.5vh 0;display:flex;justify-content:space-between;align-items:center;}
.my-h2-1{font-size: 4.5vw;font-weight:600;}
.my-h2-2{color: #999;font-size: 3.5vw;}
.my-border-bottom{border-bottom: 1px solid #eee;padding:1.5vh 0 !important;}
.view6-list{
    width: 90vw;
    padding: 2vh 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content:space-between;
}
.name_like{
    display: flex;
    justify-content:space-between;
}
/* .like_img{
    display: inline-block;
    vertical-align: middle;
    width: 2rem;
    height: 2rem;
    border-radius: 0;
} */
.like_img{
    color: #3C3C3C !important;
    font-size: 4vw !important;
}
.reds{
    color: #ff0000 !important;
}
.like_img img{
    display: inline-block;
    vertical-align: text-top;
    width: 1rem !important;
    height: 1rem !important;
    border-radius: 0 !important;
}
.view6-list img{width: 10vw;height: 10vw;border-radius: 5vw;}
.view6-list .view6-lis{width: 77vw;}
.view6-lis div:nth-child(1){
    font-size: 4.5vw;
    font-weight: 600;
    color: #589EE5;
}
.view6-lis div:nth-child(2){font-size: 4vw;color: #5C5C5C;padding: 1vw 0;}
.view6-lis div:nth-child(3){font-size: 3.3vw;color: #999;}
.view6-lis .reply{
    font-size: 3.3vw !important;
    color: #999 !important;
    display: inline-block;
    padding: 0 5px;
    background: #f1f1f1;
    border-radius: 20%;
    font-weight: inherit;
}
.view6-all{text-align: center;font-size: 3.5vw;color: #999;padding: 2vh 0 4vh;}
#my-view7{width: 100vw;background-color: #F7F7F7; padding: 0 5vw 4vh;}
.view7-title{text-align: center;font-size: 3.5vw;padding: 4vh 0 2vh;}
#my-view7 img{
    width: 100vw;
    height: 34vw;
    object-fit: cover;
}
#my-zixun{width: 100vw;background-color: #FFF;}
.my-h2{width: 90vw;height: 9vh;padding: 1.5vh 5vw;display:flex;justify-content:space-between;align-items:center;}
.my-h2-1{font-size: 4.5vw;font-weight:600;}
.my-h2-2{color: #999;font-size: 3.5vw;}
.zx-scroll{width: 100vw;overflow-x: scroll;overflow-y: hidden;}
.my-zx-lists{min-width: 100vw;height: 21vh;margin-left: 5vw;margin-bottom: 3vh;}
.my-zx-list{width: 35vw;height: 20vh;float: left;margin-right: 5vw;}
.my-zx-list img{width: 35vw;height: 15vh;border-radius: .8vw;}
.my-zx-list view{width: 35vw;height: 6vh;font-size: 2.3vh;line-height: 3vh;color: #3C3C3C;}
#my-loupan{width: 100vw;background-color: #FFF;border-top: 2vh solid #F7F7F7;}
.my-lp-lists{width: 100vw;padding: 0 5vw 3vh;}
.my-lp-list{width: 90vw;min-height: 12vh;border-bottom: 1px solid #eee;padding: 2.5vh 0;display: flex;justify-content:space-between;}
.my-lpimg{width: 30vw;position: relative;}
.my-lpimg .my-lp-ig{width:30vw;height: 14vh;border-radius: .8vw;}
.my-lpimg .my-huo{position: absolute;left: 1.5vw;bottom: .6vh; color:#FFF;font-size: 2.8vw;display: flex;align-items:flex-end;}
.my-lpimg .my-huo img{width: 5vw;height: 5vw;}
.my-lp-center{width: 57vw;display: flex;flex-direction:column;align-content:space-between;}
.my-lp-c1{font-size:2.5vh;font-weight:600;line-height: 4vh;display: flex;align-items:center;}
.my-lp-c2{color:#999;font-size:2vh;line-height: 4vh;}
.my-lp-c3{color:#d12527;font-size:2.5vh;font-weight:600;line-height: 5vh;}
.my-lp-c3 span{font-size: 3vw;font-weight: 500;color: #999;}
.my-lp-c1 .my-c-1-1{max-width: 62vw;}
.my-lp-c1 .my-c-1-2{width: 10vw;height: 3vh;line-height: 3vh;margin-left:2vw;background-color: #d12527;color: #FFF;font-size: 3vw;font-weight: 500;text-align: center;border-radius: 1vw;}
.my-lp-c4{display: flex;flex-wrap:wrap;}
/* .my-lp-c4 div{font-size: 3vw;font-weight: 500;text-align: center;border-radius: 1vw;padding:.3vh 2.5vw;
    margin-right: 3vw;margin-top:.4vh;} */
.my-lp-c4 div{
    /* margin-right: 3vw; */
    /* font-size: 3vw; */
    /* padding:.3vh 2.5vw; */
    font-size: 0.5rem;
    font-weight: 500;
    text-align: center;
    border-radius: 1vw;
    padding: 0 3px;
    height: 0.8rem;
    line-height: 0.8rem;
    margin-right: 0.5rem;
    margin-top:.4vh;
}
.my-lp-c4 div:last-child{
    margin-right: 0;
}
.my-style1{background-color: #d12527;color: #FFF;}
.my-style2{background-color: #FFF7EA;color: #E8A943;}
.my-style3{background-color: #E5F6FE;color: #589EE5;}
.my-style4{background-color: #F3ECFE;color: #8046E1;}
.my-style5{background-color: #FEEFEA;color: #E76342;}
#my-footer{width: 100vw;height: 10vh;padding: 1.5vh 5vw;background-color: #FFF;position: fixed;left: 0;bottom: 0;display: flex;}
#my-footer2{width: 100vw;height: 10vh;padding: 1.5vh 5vw;background-color: #FFF;position: fixed;left: 0;bottom: 0;display: flex;z-index: 999;}
.footer1{width: 75vw;height: 7vh;}
.footer1 input{width: 72vw;height: 7vh;background-color: #F7F7F7;border: 0; padding-left: 3vw;font-size: 4.3vw;}
.footer2{width: 15vw;height: 7vh;line-height: 7vh;font-size:4.5vw;text-align: center;}
#my-height{width:100vw;height:10vh;}
.my-detail-scroll{width:100vw;height:60vh;position: fixed;top:41vh;border-radius: 8px 8px 0 0;background-color: #FFF;}
.popo-content{padding: 0 5vw;padding-bottom: 10vh;}

:root {
    font-size: 16px;
}
.contact-person {
    padding: .5rem 1rem .75rem;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 100vw;
    background-color: #fff;
    z-index: 999;
    box-shadow: 0px -.125rem .75rem 0 rgba(153,152,152, .1);
}

.contact-person__info {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.contact-person__info-avatar {
    width: 2.8125rem;
    height: 2.8125rem;
    object-fit: cover;
    border-radius: 50%;
}

.contact-person__info-primary {
    margin: 0;
    margin-left: .875rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    overflow: hidden;
}

.contact-person__info-primary em {
    width: 100%;
    font-style: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.contact-person__info-primary-name {
    font-size: 1rem;
    color: #333;
}

.contact-person__info-primary-post {
    font-size: .625rem;
    color: #666;
}

.contact-person__button {
    padding: 0 1rem;
    height: 1.875rem;
    color: #fff;
    font-size: .75rem;
    line-height: 1.875rem;
    border-radius: .25rem;
}

.contact-person__button.call-phone {
    background:linear-gradient(10deg,rgba(235,97,0,1),rgba(235,61,0,1));
}

.contact-person__button.wechar-qrcode {
    margin-left: 1.25rem;
    border: none;
    background:linear-gradient(10deg,rgba(206,12,14,1),rgba(235,61,0,1));
}

.qrcode-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.3);
    z-index: 999;
}

.qrcode-popup__container {
    margin: 11.9vh auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 87.74%;
    max-width: 658px;
    max-height: 685px;
    background-color: #fff;
}

.qrcode-popup__container-header p {
    text-align: center;
    margin: 0;
    line-height: 1em;
}

.qrcode-popup__container-header-profile {
    margin-top: 2.1875rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .75rem;
    color: #545454;
}

.qrcode-popup__container-header-profile .avatar {
    margin-right: .75rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    object-fit: cover;
}

.qrcode-popup__container-header p:nth-child(2) {
    margin-top: 1.25rem;
    font-size: 1.25rem;
    color: #545454;
}

.qrcode-popup__container-header p:nth-child(3) {
    margin-top: .75rem;
    font-size: 1rem;
    color: #666;
}

.qrcode-popup__container-body {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1.875rem;
    width: 52.2796%;
    max-width: 344px;
}

.qrcode-popup__container-body:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.qrcode-popup__container-body #QRcode {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#my-footer {
    box-shadow:0px 0px 10px 0px rgba(203,201,201,0.31);
    padding: .5rem 1rem;
    height: auto;
}

#my-footer .footer1,
#my-footer .footer1 input,
#my-footer .footer2 {
    height: 2.375rem;
    line-height: 2.375rem;
}

#my-footer .footer1 input {
    margin-bottom: 0;
}

#my-footer2 {
    padding: .5rem 1rem;
    height: auto;
}

#my-footer2 .footer1,
#my-footer2 .footer1 input,
#my-footer2 .footer2 {
    height: 2.375rem;
    line-height: 2.375rem;
}

#my-footer2 .footer1 input {
    margin-bottom: 0;
}

.popo-content h4 {
    line-height: 2em;
}

input {
    -webkit-user-select:auto !important;
}
