.tabs .van-tabs__wrap{
	height: 0.96rem;
	border-bottom: 0.2rem solid rgba(250, 250, 250, 1);
	font-weight: 0.34rem;
	color: rgba(33, 33, 33, 1);
	font-weight: bold;
}

.tabs .van-tabs__line{
	width: 0.7rem;
}

.tabs .van-tab--active {
	font-weight: bold;
}

.tabs .van-tab__text{
	font-size: 0.34rem;
	padding-top: 0.2rem;
}

.addUnit .van-field__value::after{
	content: "万";
	position: absolute;
	top: 0;
	right: 0;
}

.addUnit2 .van-field__value::after{
	content: "成";
	position: absolute;
	top: 0;
	right: 0;
}

.van-cell::after{
	border-color: rgba(224, 224, 224, 1);
}

.van-cell{
	padding: 0.3rem 0.32rem;
}

.van-cell__title{
	font-size: 0.28rem;
	color: rgba(33, 33, 33, 1);
	font-weight: bold;
}

.van-radio-group{
	width: 100%;
	justify-content: space-between;
}

.van-radio--horizontal {
	margin-right: 0;
}

.van-picker__cancel,
.van-picker__confirm{
	font-size: 0.32rem;
}

.van-picker__confirm{
	color: rgba(255, 128, 0, 1);
}

.method .van-cell::after{
	border: none;
}

.method{
	border-bottom: 1;
	position: relative;
}

.method::after{
	position: absolute;
	box-sizing: border-box;
	content: ' ';
	pointer-events: none;
	right: 16px;
	bottom: 0;
	left: 16px;
	border-bottom: 1px solid rgba(224, 224, 224, 1);
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
}

.method-box{
	width: 100%;
	padding: 0 0.32rem 0.3rem;
	box-sizing: border-box;
}

.method-tip{
	width: 100%;
	height: .84rem;
	background-color: rgba(250, 250, 250, 1);
	font-size: .26rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.14rem;
	box-sizing: border-box;
}

.method-tip .van-tag--primary{
	background-color: rgba(254, 130, 30, 1);
	margin-right: 0.18rem;
	padding: 0 0.12rem;
}

.method-history{
	height: 100%;
	display: flex;
	align-items: center;
	color: rgba(254, 130, 30, 1);
	font-weight: bold;
}

/* cut-line */
.cut-line{
	width: 100%;
	height: 0.2rem;
	background-color: rgba(250, 250, 250, 1);
}

.LPR{
	width: 6.8rem;
	height: 10rem;
	box-sizing: border-box;
	padding: 0.6rem 0.32rem;
}

.LPR-box{
	height: 86%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.LPR-title{
	font-size: .34rem;
}

.LPR-content{
	margin: .3rem 0;
}

.LPR-content i{
	font-weight: bold;
}

.LPR-wrap{
	width: 100%;
	margin-top: .3rem;
	box-sizing: border-box;
	border: .01rem solid rgba(130,130,130,.5);
}

.LPR-wrap-title{
	background-color: rgba(200,200,200,.1);
}

.LPR-wrap-title,
.LPR-wrap-item{
	display: flex;
	border-bottom: .01rem solid rgba(130,130,130,.5);
}

.LPR-wrap-item:last-child{
	border-bottom: none;
}

.LPR-wrap-title span,
.LPR-wrap-item span{
	width: 30%;
	height: .8rem;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding-left: .2rem;
}

.LPR-wrap-title span:first-child,
.LPR-wrap-item span:first-child{
	width: 40%;
	border-right: .01rem solid rgba(130,130,130,.5);
}

.LPR-wrap-title span:nth-child(2),
.LPR-wrap-item span:nth-child(2){
	border-right: .01rem solid rgba(130,130,130,.5);
}

.LPR .van-button{
	width: 100%;
	height: .8rem;
	margin-top: .4rem;
}

.rate-wrap{
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: bold;
	box-sizing: border-box;
	padding: .26rem .32rem;
	border-top: 1px solid rgba(220, 220, 220, 1);
}

.rate-box{
	display: flex;
	align-items: center;
	font-weight: 400;
}

.rate-box .van-button{
	width: 1.4rem;
	height: .6rem;
	padding: 0;
	font-size: .24rem;
	margin-left: 0.4rem;
	color: rgba(255, 128, 0, 1);
	border-color: rgba(255, 128, 0, 1);
	border-radius: .1rem;
}

.van-overlay{
	background-color: rgba(0,0,0,.4);
}

.van-overlay .input-box{
	width: 100%;
	height: .6rem;
	background-color: #fff;
	position: fixed;
	bottom: 5rem;
}

.input-mul{
	z-index: 9999 !important;
}

.van-number-keyboard::after{
	content: attr(data-text);
	width: 100%;
	height: 0.7rem;
	background-color: #fff;
	position: absolute;
	top: -0.7rem;
	display: flex;
	align-items: center;
	text-indent: .32rem;
}

.van-number-keyboard::before{
	content: attr(data-attr);
	height: 0.7rem;
	position: absolute;
	top: -0.7rem;
	left: 2rem;
	z-index: 2;
	line-height: 0.74rem;
}

.rate-input{
	padding: 0.14rem 0 0.14rem 0.14rem;
	border-bottom: 1px solid rgba(146, 146, 146, 1);
}

.rate-input-no{
	color: rgba(146, 146, 146, 1);
}

.rate-input span:last-child{
	font-size: 0.3rem;
	color: rgba(100, 100, 100, 1);
}