.box{
	box-sizing: border-box;
	padding: .33rem .32rem 1rem;
}

.choose{
	display: flex;
	align-items: center;
}

.choose span:first-child{
	margin-right: 0.2rem;
}

.choose .van-tag{
	margin-right: 0.26rem;
	border-radius: 0.04rem;
	background: #F7F7F7;
	color: rgba(117, 117, 117, 1);
	font-size: 0.26rem;
}

.choose .van-tag.active{
	background-color: rgba(240, 255, 236, 1);
	color: rgba(121, 183, 107, 1);
}

.input .van-cell{
	padding: .8rem 0 .32rem;
	font-size: 0.24rem;
}

.up .van-uploader__preview-image,
.up .van-uploader__upload{
	width: 1.3rem;
	height: 1.3rem;
}

.up .van-uploader__upload{
	border: 1px solid #E0E0E0;
	background-color: #fff;
	position: relative;
	justify-content: flex-start;
}

.up .van-uploader__upload .van-icon{
	font-size: 0.54rem;
	margin-top: 0.2rem;
	color: rgba(173, 173, 173, 1);
}

.up .van-uploader__upload::after{
	content: '添加照片';
	width: 100%;
	font-size: 0.24rem;
	color: rgba(173, 173, 173, 1);
	position: absolute;
	bottom: 0.18rem;
	left: 50%;
	transform: translate(-50%,0);
	text-align: center;
	pointer-events: none;
}

.btn{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 0 1rem;
}

.btn .van-button{
	width: 100%;
	height: .88rem;
}