#app{
	overflow: hidden;
}

.round-box{
	width: 100%;
	height: 100%;
}

#container,
#round-map{
	width: 100vw;
	z-index: 1;
	touch-action: none;
	position: relative;
	cursor: pointer;
}

#container{
	height: 100%;
}

#round-map{
	height: 100%;
}

#container div div div div a,
#round-map div div div div a{
	display:none !important; 
}

.logo-text{ 
	display:none !important; 
}

.my_House:after{
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%,100%);
	border-right: .12rem solid transparent;
	border-left: .12rem solid transparent;
	border-top: .14rem solid rgba(254, 130, 30, 1);
}

.house_active{
	background-color: rgba(121, 183, 107, 1) !important;
	z-index: 20 !important;
}

.house_active:after{
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%,100%);
	border-right: .12rem solid transparent;
	border-left: .12rem solid transparent;
	border-top: .14rem solid rgba(121, 183, 107, 1);
}

/* 自定义覆盖物淡入动画 */
@keyframes fade-in {  
	0% {opacity: 0;} 
	100% {opacity: 1;}
}  

@-webkit-keyframes fade-in {
	0% {opacity: 0;}  
	100% {opacity: 1;}  
}  

/* 选中楼盘显示 */
.house-btn{
	font-size: .3rem;
	color: rgba(33, 33, 33, 1);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: .32rem 0;;
	margin: 0 .32rem;
	font-weight: 600;
	box-sizing: border-box;
	border-top: 1px solid rgba(235, 235, 235, 1);
}

.house-btn span{
	margin-left: .14rem;
}

.container-icon{
	position: absolute;
	right: .32rem;
	z-index: 1001;
}

.container-icon-operate{
	top: .5rem;
}

.container-icon-operate .container-icon-item:not(:last-child){
	margin-bottom: .28rem;
}

.container-icon-site{
	top: 8.83rem;
}

.container-icon-item{
	width: .8rem;
	height: .8rem;
	font-size: .22rem;
	color: rgba(33, 33, 33, 1);
	font-weight: 600;
	background-color: #fff;
	border-radius: .08rem;
	border: 1px solid #D5D5D5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container-icon-operate .container-icon-item:not(:first-child) .iconfont,
.container-icon-site .iconfont{
	font-size: .38rem
}

.container-icon-operate .container-icon-item:not(:first-child) span{
	margin-top: -.04rem;
}

.container-icon-item .iconfont{
	margin-top: .08rem;
}

.loading{
	width: 100px;
	height: 100px;
	background-color: rgba(0,0,0,.5);
	border-radius: .08rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 1002;
}

.loading .van-loading__text{
	margin-top: 12px;
	color: #fff !important;
}

/* 可视范围 */
.range{
	height: 100vh;
	width: 100vw;
	box-sizing: border-box;
	padding-top: 1.84rem;
}

.van-popup__close-icon--top-left{
	top: .44rem;
	transform: translate(0,-50%);
	position: fixed;
}

.range-top{
	height: .88rem;
	font-size: .28rem;
	line-height: .28rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sizer{
	touch-action: none;
}

.show-area{
	position: relative;
	z-index: 9999;
}

.show-area-wx{
	margin-top: .88rem;
}

.range-fixed{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: #fff;
	border-bottom: 1.5px solid rgba(224, 224, 224, 1);
}

.search-top{
	background-color: #fff;
	padding: .4rem 0 .24rem;
	position: fixed;
	top: 0;
}

.search-top .van-search{
	padding: 0 .32rem;
}

.search-top .van-search__action{
	font-size: .28rem;
	font-weight: 600;
	color: rgba(117, 117, 117, 1);
	padding: 0 0 0 .44rem;
}

.search-top .van-search__content{
	width: 5.86rem;
	height: .8rem;
	background: #FFFFFF;
	box-shadow: 0 .03rem .2rem 0 #F5F5F5;
	border-radius: 0.06rem;
	border: 1px solid #E0E0E0;
}

.search-top .van-cell{
	align-items: center;
}

.search-top .van-icon-search{
	color: rgba(173, 173, 173, 1);
}

.search-top .van-field__control{
	font-size: .26rem;
}

.search-top input::placeholder{
	color: rgba(173, 173, 173, 1);
}

.search-content{
	height: calc(100vh - 1.48rem);
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	margin: 1.48rem .32rem 0;
}

.search-history-title{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .24rem 0;
}

.search-history-title span{
	font-size: .32rem;
	font-weight: 800;
}

.search-history-title .iconfont{
	color: rgba(173, 173, 173, 1);
}

.search-item-left .van-tag--primary,
.search-history .van-tag--primary{
	padding: .09rem .15rem;
	background-color: rgba(247, 247, 247, 1);
}

.search-item-left .van-tag--primary{
	font-size: .22rem;
	line-height: .22rem;
	color: rgba(173, 173, 173, 1);
	margin-right: .24rem;
}

.search-history .van-tag--primary{
	font-size: .26rem;
	line-height: .26rem;
	color: rgba(33, 33, 33, 1);
	margin-bottom: .2rem;
}

.search-history .van-tag--primary:not(:last-child){
	margin-right: .2rem;
}

.search-item{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .28rem 0;
}

.search-item:not(:last-child){
	border-bottom: 1px solid #E0E0E0;
}

.search-item-left{
	flex: 1;
	display: flex;
	align-items: center;
}

.search-item-info{
	flex: 1;
	display: flex;
	flex-direction: column;
}

.search-item-title{
	flex: 1;
	margin-bottom: .06rem;
	font-size: .3rem;
	font-weight: 600;
}

.search-item-title span{
	color: rgba(254, 130, 30, 1);
}

.search-item-site{
	font-size: .26rem;
	color: rgba(117, 117, 117, 1);
}

.search-item-right{
	font-size: .34rem;
	font-weight: 600;
}

.search-item-right span{
	font-size: .26rem;
}

.search-result .van-empty__description{
	font-size: .28rem;
	font-weight: 600;
	color: rgba(33, 33, 33, 1);
	letter-spacing: .04rem;
}

.search-result .van-empty__bottom{
	font-size: .26rem;
	margin-top: .06rem;
	color: #969799;
	letter-spacing: .02rem;
}

.round{
	width: 100%;
	height: 6rem;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: 0;
	z-index: 1;
	box-shadow: 0px -3px 18px 0px #D5D5D5;
	transition: .3s;
}

.round-btn{
	width: 1.2rem;
	height: .44rem;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%,-98%);
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px -3px 18px 0px #D5D5D5;
	z-index: -1;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-top: 0.06rem;
	box-sizing: border-box;
}

.round-btn .iconfont{
	color: rgba(189, 189, 189, 1);
	font-size: .26rem;
	transition: .5s;
}

.round-tab{
	width: 100%;
	height: .88rem;
	display: flex;
	border-bottom: 1px solid rgba(224, 224, 224, 1);
	color: rgba(90, 96, 102, 1);
	font-size: .3rem;
	position: relative;
	z-index: 2;
	background-color: #fff;
}

.round-tab-item{
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.round-tab-item .iconfont{
	margin-right: .1rem;
	font-size: .28rem;
}
 
.round-content{
	flex: 1;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	box-sizing: border-box;
	padding: 0 .32rem;
	
}

.round-content-item{
	height: 1.3rem;
	display: flex;
	align-items: center;
}

.round-content-item:not(:last-child){
	border-bottom: 1px solid rgba(240, 240, 240, 1);
}

.round-content-item-left{
	flex: 1;
	font-size: .3rem;
	font-weight: 600;
}

.round-content-subhead{
	font-size: .24rem;
	color: rgba(90, 96, 102, 1);
	margin-top: .1rem;
	font-weight: 500;
}

.round-content-item-right{
	font-size: .24rem;
	color: rgba(90, 96, 102, 1);
	margin-left: .65rem;
}

.not_list{
	flex: 1;
	height: 100%;
	display: flex;
	justify-content: center;
}

.not_list .van-empty{
	padding: 0;
}

.my_Site:after{
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%,100%);
	border-right: .12rem solid transparent;
	border-left: .12rem solid transparent;
	border-top: .14rem solid #fff;
}