.active_conten{
	background-color: #F5F5F5;
	padding:20rpx 30rpx;
}
.user_box{
	background-color: #FFFFFF;
	
	padding: 35rpx 30rpx;
	overflow: hidden;
	.user_info{
		margin-bottom: 46rpx;
		.user_img{
			width: 94rpx;
			height: 94rpx;
			vertical-align:middle;
			margin-right: 18rpx;
		}
		.user_name{
			display: inline-block;
			vertical-align: middle;
			.name{
				font-size: 32rpx;
				color: #212121;
			}
			.identity{
				font-size: 24rpx;
				color: #03B272;
				icon{
					vertical-align: middle;
					margin-right: 12rpx;
				}
			}
		}
	}
	.tab_box{
		font-size: 0;
		.tab_item{
			width: 50%;
			display: inline-block;
			text-align: center;
			font-size: 28rpx;
			color: #666666;
			position: relative;
			&:first-child{
				&::after{
					content: '';
					display: inline-block;
					position: absolute;
					right: 0;
					top: 20rpx;
					width: 1rpx;
					height: 60rpx;
					background-color: #D8D8D8;
				}
			}
			image{
				width: 46rpx;
				height: 46rpx;
				display: block;
				margin: 0 auto 11rpx;
			}
		}
	}
}
.explain{
	font-size: 26rpx;
	color: #ED3335;
	height: 87rpx;
	line-height: 87rpx;
	image{
		width: 30rpx;
		height: 30rpx;
		display: inline-block;
		vertical-align: middle;
		margin-right: 10rpx;
	}
}
.advertising{
	height: 210rpx;
	image{
		width: 100%;
		height: 210rpx;
	}
}
.coupon_box{
	.coupon{
		.time{
			font-size: 26rpx;
			color: #212121;
			margin: 25rpx 0;
		}
		.coupon_item{
			display: flex;
			justify-content: space-between;
			background-image: url(../../static/activity/background_coupon.png);
			background-repeat: no-repeat;
			background-size: 100% 100%;
			padding: 20rpx 25rpx;
			margin-bottom: 20rpx;
			.shop_img{
				width: 124rpx;
				height: 124rpx;
			}
			.coupon_shop{
				width: 340rpx;
				padding: 0 40rpx 0 20rpx;
				box-sizing: border-box;
				.shop_title{
					font-size: 28rpx;
					color: #212121;
					margin-bottom: 13rpx;
					overflow: hidden;
					text-overflow:ellipsis;
					white-space: nowrap;
				}
				.shop_type{
					font-size: 24rpx;
					color: #666666;
					margin-bottom: 6rpx;
				}
				.coupon_type{
					padding: 2rpx 10rpx;
					background-color: #F48336;
					border-radius: 4rpx;
					display: inline-block;  
					font-size: 20rpx;
					color: #FFFFFF;
				}
			}
			.discounts{
				// display: flex;
				// align-items: center;
				.discounts_number{
					font-size: 30rpx;
					color: #ED3335;
					margin-top: 23rpx;
					margin-bottom: 13rpx;
				}
				.discounts_Percentage{
					font-size: 24rpx;
					color: #F48336;
				}
				.discounts_amount{
					font-size: 24rpx;
					color: #999999;
				}
				.line_progress{
					width: 144rpx;
					height: 8rpx;
					background-color: #F5CBAE;
					margin-top: 10rpx;
					.progress{
						width: 0%;
						height: 8rpx;
						background-color: #F48336;
					}
				}
			}
		}
	}
}
.kefu-box{
	text-align: center;
	.h4_title{
		font-size: 30rpx;
		color: #212121;
		margin-top: 40rpx;
	}
	image{
		width: 234rpx;
		height: 234rpx;
		margin: 21rpx auto 0;
	}
	.activity_title{
		font-size: 28rpx;
		color: #ED3335;
		margin-top: 10rpx;
	}
	.kefu-tips{
		font-size: 28rpx;
		color: #212121;
		margin-top: 17rpx;
	}
}