<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
		<title>沙盘图</title>
		<link rel="stylesheet" href="../../common/vant/index.css"/>
		<link rel="stylesheet" href="../../common/css/public.css?v=1.19"/>
		<link rel="stylesheet" href="../../static/css/houses/sand.css?v=1.19"/>
		<style>
			
		</style>
	</head>
	<body>
		<div id="app" v-cloak ref="DOM">
			<template v-if="list.length > 0">
				<van-tabs class="tabs" v-model="active" sticky>
					<van-tab v-for="(item,index) in list" :title="item.title" :key="index">
						
						<van-swipe ref="swipe" :loop="false">
							<van-swipe-item class="swipe-item" v-for="(banner,key) in item.banner" :key="key">
								<img :src="$http.testUrl(banner)">
							</van-swipe-item>
						</van-swipe>
						
						
						<div class="wrap">
							<div class="info">
								<h4 class="info-title">
									{{ item.title }}
								</h4>
								<div class="info-box">
									<template v-for="(list,key) in item.info">
										<div class="info-content" :key="key">
											<span>{{ list.name }}:</span>{{ list.list }}
										</div>
										<div class="info-line" v-if=" key == 1 " />
									</template>
									
								</div>
							</div>
							
							<div class="house" v-if="item.list.length>0">
								<p class="house-title">
									{{ item.title }}楼栋户型
								</p>
								<houses-template :list="item.list"/>
							</div>
						</div>
					</van-tab>
				</van-tabs>
			</template>
			<template v-else>
				<div class="list_null" v-if='showNull'>
					<img src="../../static/null.png">
					<p>暂无数据</p>
				</div>
			</template>
			
			<div id="container-user-site"></div>
		</div>
	</body>
</html>

<script src="../../common/js/vue.js" type="text/javascript" charset="utf-8"></script>
<script src="../../common/js/rpx.js" type="text/javascript" charset="utf-8"></script>
<script src="../../common/js/public.js?v=1.19" type="text/javascript" charset="utf-8"></script>
<script src="../../common/vant/index.js" type="text/javascript" charset="utf-8"></script>
<script src="../../common/js/fastclick.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="https://webapi.amap.com/maps?v=2.0&key=53da8183ca23918f2f81c79a5b2ede15&plugin=AMap.Geocoder"></script>
<script type="module">
	import { http, loginMixin } from '../../common/js/method/http.js?v=1.19';
	Vue.use(http);

	const myComponents = [
		'../../components/houses/template_house/index'
	];
	
	$api.addComponents(myComponents)
		.then(()=>{
			
			Vue.use(vant.Lazyload);
			 
			
			const app = new Vue({
				el: '#app',
				data: {
					showNull: false,
					estate_id: 0,
					active: 0,
					swiperActive: 0,
					list: [
						/* {
							title: '2-2#',
							tip: '在售',
							banner: ['/9house/static/houses/banner1.png','/9house/static/houses/banner1.png'],
							info: [
								{
									name: '开盘',
									list: '暂无'
								},
								{
									name: '交房',
									list: '2020.10.10'
								},
								{
									name: '单元',
									list: '2单元'
								},
								{
									name: '层级',
									list: '20层'
								},
								{
									name: '户数',
									list: '234户'
								},
								{
									name: '楼型',
									list: '暂无'
								}
							],
							list: [
								{
									img: '/9house/static/logo.png',
									title: '3室2厅2卫',
									tip: ['住宅'],
									area: 120,
									way: '南',
									price: 499
								},
							]
						} */
					]
				},
				components: {
					housesTemplate
				},
				mixins: [loginMixin],
				created() {
					
					// this.$nextTick(()=>{
					// 	this.$refs.DOM.scrollTo(0,3500)
					// })
					this.estate_id = $api.funcUrlDel().option.id;
					this.getSandBuilding();
				},
				mounted() {
					
				},
				methods:{
					onChange(e) {
						this.swiperActive = e;
					},
					changeSwipe(e) {
						// console.log(this.$refs.swipe[0])
						this.$refs.swipe[0].swipeTo(e);
					},

					//楼栋户型
					getSandBuilding() {
						const estate_id = this.estate_id;
						const data = {
							estate_id: estate_id,
							getHouses: 1
						};
							
						this.$http.ajax({
							method: 'POST',
							url: '/index/estates/getEstatesnewBuildingList',
							data: data,
						}).then( res=>{
							let data = res.data;
							let newData = [];
							const tag = this.$api.localGet('u-tag');
							
							console.log('楼盘户型',data.list);
							
							data.list&&data.list.map(item=>{
								const obj = {
									title: item.name,
									banner: data.banner,
									info: [
										{
											name: '开盘',
											list: item.open_time?item.open_time:'暂无数据'
										},
										{
											name: '交房',
											list: item.delivery_time?item.delivery_time:'暂无数据'
										},
										{
											name: '单元',
											list: item.unit
										},
										{
											name: '层级',
											list: item.floor_number
										},
										{
											name: '户数',
											list: item.house_number
										},
										{
											name: '楼型',
											list: item.building_type
										}
									],
									list: []
								};
								
								item.house_list&&item.house_list.map( child=>{
									const newObj = {
										img: child.img,
										title: child.name,
										tip: [],
										area: child.built_area,
										way: tag['orientation'][child.orientation],
										price: child.price || child.price_avg || '价格待定'
									}
									
									if( child.house_purpose != 0 ){
										newObj.tip.push(tag['house_purpose'][child.house_purpose]);
									}
									
									if( child.sale_status != 0 ){
										newObj.tip.push(tag['estatesnew_sale_status'][child.sale_status]);
									}
									
									obj.list.push(newObj);
								})
								
								newData.push(obj);
							})
							
							this.list = newData;
							this.showNull = true;
						})
					},
				},
			})
			
		})
	
</script>