/* 选取位置页面 */
						
.choose-location{
	width: 100vw;
	height: 100vh;
	background: #F7F7F7;
	position: fixed;
	top: 0;
	z-index: 93;
}

.choose-location .van-search__action{
	padding: 0 0.32rem;
	color: rgba(117, 117, 117, 1);
	font-size: 0.28rem;
}

.choose-location .van-search__content{
	background-color: #fff;
	box-shadow: 0px 0.03rem 0.2rem 0px #F5F5F5;
	border-radius: 0.06rem;
	border: 0.01rem solid #E0E0E0;
}

.choose-location input::-webkit-input-placeholder{
	color: #ADADAD;
	font-size: 0.26rem;
	font-weight: 400;
	
}

.choose-location input::-moz-placeholder{   /* Mozilla Firefox 19+ */
	color: #ADADAD;
	font-size: 0.26rem;
	font-weight: 400;
}
.choose-location input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
	color: #ADADAD;
	font-size: 0.26rem;
	font-weight: 400;
}
.choose-location input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
	color: #ADADAD;
	font-size: 0.26rem;
	font-weight: 400;
}

.location-search,
.location-info{
	background-color: #fff;
}

.location-search{
	height: 60px;
	width: 100%;
}

.location-info{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.28rem;
	padding: 0.3rem 0.32rem 0.42rem;
	color: rgba(117, 117, 117, 1);
}

.location-info-left span{
	color: #000;
	font-size: 0.34rem;
	margin-right: 0.2rem;
}

.location-info-right{
	color: #000;
	display: flex;
	align-items: center;
}

.location-info-right span{
	height: 0.22rem;
	font-size: 0.26rem;
	margin-right: 0.1rem;
	vertical-align: text-bottom;
}

.location-tip{
	width: 100%;
	font-size: 0.3rem;
	color: rgba(117, 117, 117, 1);
	box-sizing: border-box;
	padding: 0.3rem 0.32rem 0;
}

.location-tip .city{
	width: 100%;
	margin-top: 0.22rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.city-tip{
	width: 2rem;
	height: 0.8rem;
	background-color: #fff;
	border-radius: 0.06rem;
	border: 0.01rem solid #EBEBEB;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0.24rem;
}

.city-tip:nth-child(3n-1){
	margin: 0 0.23rem 0.24rem;
}

.nosearch-tip{
	text-align: center;
	width: 100%;
	margin-top: 1rem;
}